<%-include('header')-%>
<body>
    <div class="text-center mt-5" id="login">
        <div class="container w-25">
         <h2>WELCOME HOME</h2>
        <a href="/logout"> <button>logout</button></a>
        </div>
    </div>



<%-include('footer')-%>