<%-include('header')-%>
<body>
    <div class="container">
        <h2>LOGIN</h2>
        <form action="/login" method="post">
        
            <label for="username">username:</label>
            <input type="text" id="username" name="username" required placeholder="enter your name">
            <%if(locals.unerror){%>
                <div class="alter alert-success text-center">
                    <%=unerror %>
                </div>
                <%}%>
    
            

            <label for="password">password:</label>
            <input type="password" id="password" name="password" required placeholder="enter password">

            <%if(locals.perror){%>
                <div class="alter alert-success text-center">
                    <%=perror %>
                </div>
                <%}%>
            
            <button>submit</button>
        </form>
        <div class="signin-link">
            <p style="color: rgb(23, 23, 143);">Don't have an account? <a href="/signin">Sign up</a></p>
        </div>
    </div>

    <!-- <div>
        <form action="#">
            <label for="">aaaa</label>
            <input type="text" name="bbb" placeholder="bz">
        </form>
    </div> -->

    </style>

<%-include('footer')-%>
